:root {
    --very-light-pink: #7e7a7a;
    --white: #FFFFFF;
    --text-input-field: #cbedda;
    --black: #000000;
    --hospital-green: rgb(94, 165, 73);
    --dark: #232830;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

